/* css com sections compartilhadas*/
.profile-container {
	width: 100%;
	padding: 24px 32px;
}
/*Header-Nav*/
.profile-container header {
	display: flex;
	align-items: center;
}

.profile-container header img {
	width: 160px;
	height: 37px;
}

.profile-container header a {
	margin-left: auto;
	margin-top: 0;
}

.profile-container header button:hover {
	border-color: rgb(153, 153, 153);
}

/*List Section*/
.navers-panel {
	margin-top: 10px;
	width: 100%;
	padding: 24px 32px;
}

.navers-panel-row {
	display: flex;
	align-items: center;
}

.navers-panel h1 {
	position: absolute;
	width: 141px;
	height: 48px;
	/* Título 2 */
	font-family: Montserrat;
	font-style: normal;
	font-weight: 600;
	font-size: 44px;
	line-height: 48px;
	/* identical to box height, or 120% */
	display: flex;
	align-items: center;
	color: #212121;
	align-self: flex-start;
}

.navers-panel-button {
	margin-left: auto;
	margin-top: 0;
	width: 180px;
	height: 40px;
}

.navers-container {
	position: relative;
	width: 100%;
	padding: 24px 32px;
}

.navers-container ul {
	display: grid;
	grid-template-columns: repeat(2, 1fr);
	grid-gap: 24px;
	list-style: none;
}

.navers-container ul li {
	background: #fff;
	padding: 24px;
	border-radius: 8px;
	position: relative;
}

.navers-container ul li button {
	position: absolute;
	right: 24px;
	top: 24px;
	border: 0;
	background: none;
}

.navers-container ul li button:hover {
	opacity: 0.8;
}

.navers-container ul li strong {
	display: block;
	margin-bottom: 16px;
	color: #41414d;
}

.navers-container ul li p + strong {
	margin-top: 32px;
}

.navers-container ul li p {
	color: #737380;
	line-height: 21px;
	font-size: 16px;
}

/*Add section*/
.add-container {
	width: 100%;
	display: flex;
	align-items: center;
	justify-content: center;
}

.add-box {
	margin-top: 50px;
	width: 600px;
	height: 400px;
	background-color: white;
	box-sizing: border-box;
	padding: 20px;
}

.add-title {
	font-family: Montserrat !important;
	font-style: normal !important;
	font-weight: 600 !important;
	font-size: 24px !important;
	line-height: 36px !important;
	color: #212121;
}

.add-back-icon {
	margin-top: 5px;
	margin-right: 8px;
	width: 24px;
	height: 24px;
	color: black !important;
}

.add-line1 {
	width: 280px;
	margin-top: 10px;
	padding: 10px;
}

.add-campos2 {
	width: 280px;
	margin-top: 10px;
}

.add-button {
	margin-top: 20px !important;
	margin-right: 8px !important;
	width: 176px !important;
	height: 40px;
}
